$primary-color: #3498db;

body{
     background-color: $primary-color;
}

.splide{
     display: flex;
     border: solid pink;
}
.splide__track{
 border: solid black;
 display: flex;
 width: 100%;
}
.splide__list{
     border: solid red;
     display: flex;
}

.splide__slide{
     border: solid blue ;
}

.rt{
     display: flex;
     align-items: center;
}